/* GLOBAL */

body {
    background: rgb(232, 229, 245);
}

.head-section-title {
    font-family: 'Cabin', sans-serif;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #FD9308;
    margin-bottom: 15px;
    color: rgb(80, 83, 85);
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

.lineBreak {
    display: block;
}


/*=============== ERROR SCREEN ===============*/

.wrapper {
    display: none;
}

.error-message-container {
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
}

.error-message-screen {
    position: relative;
    background: rgb(229, 232, 237);
    border-radius: 7px;
    padding: 10px;
}

.error-message-screen .head-section-title {
    font-size: 20px;
}

.error-message-screen .close-error:hover {
    color: rgb(80, 83, 85);
}

.error-message-screen .close-error {
    font-size: 25px;
    padding: 0 10px;
    color: rgb(131, 129, 127);
    position: absolute;
    top: 7px;
    right: 15px;
}

.error-message-screen .error-message {
    font-size: 17px;
    text-align: center;
    padding-bottom: 5px;
    font-family: 'Nunito', sans-serif;
}

/*=============== HEADER ===============*/

header { background: rgb(54, 60, 66); }

.drop-down {
    display:none;
}
/* DROP DOWN MENU */
/* header .hamburger {
    font-size: 35px;
    color: rgb(235, 235, 235);
}

header .drop-down-hamburger { text-decoration: none; }
header .hamburger:hover { color: #FD9308; }

.drop-down .drop-down-menu {
    display: none;
    background: rgb(54, 60, 66);
    z-index: 99999;
    width: 100%;
    text-align: center;
}
.drop-down .drop-down-wrapper { padding: 0 10px; }
.drop-down .drop-down-menu ul { list-style-type: none; }

.drop-down .drop-down-menu li {
    padding: 10px 3px;
    border-bottom: 1px solid rgb(207, 207, 207)
}

.drop-down .drop-down-menu li:last-child { border-bottom: none; }

.drop-down .drop-down-menu a {
    text-decoration: none;
    color: #E5E8ED;
    font-family: 'Cabin', sans-serif;
    font-size: 17px;
    padding: 10px;
}

.drop-down .drop-down-menu a:hover { color: #FD9308; } */

/* MAIN NAVIGATION */
header .logo {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

header .logo h1 {
    color: white;
    margin-left: 15px;
    margin-top: 7px;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    cursor: default;
}

.header-content {
    display: flex;
    align-items: center;
    height: 70px;
}

header img {
    margin-top: 5px;
    width: 50px;
    height: 50px;
}

header .nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .nav ul { margin-right: 20px; }

header .nav li {
    padding: 0 20px;
    border-right: 1px solid #FD9308;
}

header .nav li:last-child { border-right: 0; }

header .nav a {
    color: #E5E8ED;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 1px;
    font-family: 'Cabin', sans-serif;
}

header .nav a:hover { color: #FD9308; }
header .search-bar { padding: 0; }
header .small-toggle-cel { padding-right: 0; }

/*=============== PARALLAX BACKGROUND ===============*/

.parallax {
    position: relative;
    background-image: url('../img/daysky.jpg');
    background-repeat: no-repeat;
    padding-bottom:40px;
    background-position: center;
    background-size: cover;
    /* ebasi qkoto neshto! */
    background-attachment: fixed;
}

/*=============== CONTENT ===============*/

/* ROUND TOGGLE SWITCH BUTTON */
.toggle.ios,
.toggle-on.ios,
.toggle-off.ios { border-radius: 20px; }

.toggle.ios .toggle-handle { border-radius: 20px; }

/* MAIN CONTENT */
.main-content .content {
    position: relative;
    margin-top: 70px;
    height: 350px;
}

.main-content .main .weather-info {
    padding: 10px 13px;
    background: rgba(229, 232, 237, 0.9);
    border-radius: 5px;
}

.main-content .main .city-name {
    font-family: 'Cabin', sans-serif;
    letter-spacing: 1px;
    font-size: 35px;
    color: rgb(80, 83, 85);
}

.main-content .main .country-name {
    color: rgb(80, 83, 85);
    padding-left: 15px;
}

.main-content .main .weather-icon {
    font-size: 68px;
    color: rgb(80, 83, 85);
    margin-top: 20px;
}

.main-content .main .plus-icon {
    font-size: 45px;
    color: #FD9308;
}

.main-content .main .plus-icon-section {
    padding-left: 0;
    text-align: center;
}

.main-content .main .plus-icon:hover { color: rgb(255, 115, 0); }

.main-content .main .cel-far {
    font-size: 70px;
    font-weight: bold;
    color: rgb(80, 83, 85);
}

.weather-descr { text-align: center; }
.main-content .main .main-weather-section { margin-top: 20px; }
.main-content .main .weather-icon-section { text-align: center; }

.main-content .main .main-weather-section-below p {
    margin-top: 10px;
    color: rgb(80, 83, 85);
    font-size: 18px;
}

/* WEATHER DETAILS */
.weather-details {
    margin-top: 15px;
    padding: 13px;
    background: rgba(229, 232, 237, 0.9);
    border-radius: 5px;
}

.weather-details .row li {
    color: rgb(102, 106, 107);
    text-decoration: none;
    font-size: 14px;
    padding: 10px 0;
    font-family: 'Nunito', sans-serif;
}

.weather-details .weather-values {
    padding-left: 7px;
    color: rgb(80, 83, 85);
}

.weather-details span {
    font-family: 'Cabin', sans-serif;
    font-weight: 550;
}

/* FAVORITE CITIES */
.main-content .fav-pad { padding-left: 0; }

.main-content .favorite-cities {
    padding: 10px 13px;
    background: rgba(229, 232, 237, 0.9);
    border-radius: 5px;
    max-height: 555px;
    overflow: hidden;
}

.main-content .fav-cities-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
    padding: 0 10px;
    border-left: 3px solid transparent;
    border-radius: 3px;
    text-decoration: none;
}

.main-content .favorite-cities li {
    color: rgb(80, 83, 85);
    font-size: 19px;
    font-family: 'Nunito', sans-serif;
}

.main-content .fav-cities-list:hover {
    background: rgb(235, 235, 235);
    border-left: 3px solid #FD9308;
}

.main-content .fav-cities-list:hover .cross i { display: flex; }

.main-content .fav-cities-list .cross i {
    font-size: 18px;
    color: rgb(139, 139, 139);
    padding: 4px;
    display: none;
}


/*=============== GOOGLE MAPS ===============*/
.google-map { padding-left: 0px; }

.map-details {
    width: 100%;
    height: 500px;
}

.google-map-box {
    padding: 10px;
    background: rgba(229, 232, 237, 0.9);
    border-radius: 5px;
}

/* ============= GALLERY ============== */
.gallery { margin:50px auto; }

.gallery h2 {
    text-align: center;
    margin-bottom: 30px;
}

.gallery p {
    font-style: italic;
    text-align: center;
    margin-bottom: 30px;
}

.gallery a { margin-bottom: 20px; }

.gallery img {
    width: 100%;
    height: 160px;
}

/* TEAM */
.team .team-title {
    margin-top: 30px;
    background: rgba(229, 232, 237, 0.99);
    border-radius: 5px;
    font-family: 'Cabin', sans-serif;
    text-align: center;
    padding:15px 0;
    margin-bottom: 15px;
    color: rgb(80, 83, 85);
}


.team .member {
    text-align:center;
    padding:15px;
    margin-top: 15px;
    background: rgba(229, 232, 237, 0.9);
    border-radius: 5px;
}

.team h3 { margin:10px 0 5px 0; }

.team p { font-size:1.15em; }
.team .fa {
    margin-top:6px;
    font-size:2em;
    margin-right:0.2em;
}

/* FOOTER */
footer {
    text-align: center;
    padding:10px;
    height:40px;
}

footer ul { list-style-type:none; }
footer ul li { margin-right:12px; }

footer .fa {
    margin-top:-2px;
    font-size: 1.8em;
    margin-right: 0.2em;
    color:#5A6571;
}

.navBar {
    background-color: #5A6571;
    color: white;
    height: 10%;
    align-content: center;
}

.hamburger { font-size: 30px; }
.hamb-menu { padding: 1%; }

.hamb-menu li a {
    color: white;
    text-decoration: none;
}

.miniSearch {
    padding: 2%;
    width: 400px;
}

.small-log img {
    width: 30px;
    height: 30px;
}

.small-log h1 {
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    cursor: default;
    text-align: center;
}

/*=============== MEDIA QUERIES ===============*/
@media (max-width: 685px) {
    .main {
        width: 100%;
    }

    header h1 {
        display: none;
    }

    header img {
        height: 40px;
        width: 40px;
    }
    
    .google-map, .fav-pad {
        width: 100%;
        padding-left: 15px !important;
        margin-top: 15px;
    }
}

@media (max-width: 993px) {
    .map-details {
        height: 300px;
    }

    .main-content .favorite-cities {
        margin-top: 15px;
        max-height: 256px;    
    }
}

@media (max-width: 1199px) {
    .weather-details .wd-col-2 {
        padding-left: 0;
    }

    .main-content .content {
        margin-top: 40px;
    }
    header .hamburger {
        font-size: 35px;
        color: rgb(235, 235, 235);
    }

    .drop-down {
        display:block;
    }

    header .drop-down-hamburger {
        text-decoration: none;
    }

    header .hamburger:hover {
        color: #FD9308;
    }

    .drop-down .drop-down-menu {
        display: none;
        background: rgb(54, 60, 66);
        z-index: 99999;
        width: 100%;
        text-align: center;
    }

    .drop-down .drop-down-wrapper {
        padding: 0 10px;
    }

    .drop-down .drop-down-menu ul {
        list-style-type: none;
    }

    .drop-down .drop-down-menu li {
        padding: 10px 3px;
        border-bottom: 1px solid rgb(207, 207, 207)
    }

    .drop-down .drop-down-menu li:last-child {
        border-bottom: none;
    }

    .drop-down .drop-down-menu a {
        text-decoration: none;
        color: #E5E8ED;
        font-family: 'Cabin', sans-serif;
        font-size: 17px;
        padding: 10px;
    }

    .drop-down .drop-down-menu a:hover {
        color: #FD9308;
    }
}